.footer {
  position: relative;
  background: $darkblue;
  color: $dirtwhite;
  @include responsive('tablet', max) {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .container {
    min-height: convertPixels(300, 768, 1vh);
    position: relative;
    @include main-section();
  }
  @include e(heading) {
    font-weight: 600;
    @include font-size(34);
    text-transform: uppercase;
    margin-bottom: 1rem;
    color: $dirtwhite;
  }
  @include e(item) {
    @include font-size(16);
    font-weight: 400;
    margin: 1rem 0;
    color: darken($dirtwhite,8%);
    dt,dd{
      display: inline-block;
    }
  }
  @include e(link) {
    @include font-size(16);
    display: inline-block;
    color: inherit;
    text-decoration: none;
      margin: 0.5rem 0;
    font-weight: 400;
    transition: 150ms;

    &:hover {
      color: $lightblue;
    }

    &.active {
      color: $lightblue;
    }
  }
  @include e(section) {
    min-height: convertPixels(150, 768, 1vh);
    @include responsive('tablet', max) {
      min-height: 10vh;
      margin: {
        top: 0.7rem;
        bottom: 0.7rem;
      }
      &:last-child {
        margin-bottom: 15vh;
      }
    }
  }
}
