.hours {
  @include m(contact) {
    color: #fff;
    background: $darkblue;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
    @include responsive('tablet', max) {
      padding-top: 5vh;
      padding-bottom: 5vh;
    }


    .hours__header {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      position: relative;
      height: convertPixels(170, 768, 1vh);
      @include responsive('tablet', max) {
        height: auto;
        padding: {
          top: 1rem;
          bottom: 1rem;
        }
      }
      padding-bottom: 7px;
      margin-bottom: convertREM(30);
      @include font-size(38);
      font-weight: 600;
      text-align: center;

      &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: -3px;
        left: 50%;
        transform: translateX(-50%);
        height: 3px;
        width: 300px;
        max-width: 100%;
        background: #fff;
      }
    }

    .hours__day {
      @include font-size(26);
      font-weight: 500;
      margin: {
        top: convertREM(20);
        bottom: convertREM(20);
      }
    }

    .hours__time {
      @include font-size(24);
      margin: {
        top: convertREM(20);
        bottom: convertREM(20);
      }
    }
  }
}
